.products__conteiner {
  margin: 0 auto;
  padding: 0 20px;

  @media screen and (max-width: 319px) {
    width: 320px;
    padding-top: 80px;
    padding-bottom: 40px;
  }

  @media screen and (min-width: 320px) {
    width: 320px;
    padding-top: 80px;
    padding-bottom: 40px;
  }

  @media screen and (min-width: 768px) {
    width: 768px;
    padding: 0 32px;
    padding-top: 40px;
    padding-bottom: 60px;
  }

  @media screen and (min-width: 1280px) {
    width: 1280px;
    padding: 0 16px;
    padding-top: 40px;
    padding-bottom: 60px;
  }
}

.products__title {
  font-family: 'Titan One';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.17;

  text-align: center;
  text-transform: uppercase;
  color: #ffb8ca;

  margin-bottom: 15px;

  @media screen and (min-width: 768px) {
    margin-bottom: 18px;
    font-size: 26px;
    line-height: 1.15;
  }

  @media screen and (min-width: 1280px) {
    margin-bottom: 16px;

    font-size: 30px;
    line-height: 1.13;

    letter-spacing: 0.04em;
  }

  &.accent {
    font-family: 'Titan One';
    font-style: normal;
    font-weight: 400;
    font-size: 34px;
    line-height: 1.15;
    text-align: center;
    letter-spacing: 0.04em;
    text-transform: uppercase;

    color: $red-txt-color;
    margin-bottom: 148px;

    @media screen and (min-width: 768px) {
      margin-bottom: 154px;
      font-size: 48px;
      line-height: 1.15;
    }

    margin-bottom: 148px;

    @media screen and (min-width: 1280px) {
      margin-bottom: 258px;
      font-size: 58px;
      line-height: 1.14;
      letter-spacing: 0.06em;
    }
  }
}

.prducts__img {
  position: absolute;

  top: -160px;
  left: auto;
  right: auto;
  z-index: 1;

  @media screen and (min-width: 768px) {
    top: -145px;
  }

  @media screen and (min-width: 1280px) {
    top: -260px;
    // width: 100%;
  }
}

.products__flex {
  @media screen and (min-width: 768px) {
    display: flex;
    margin-top: 0;
    margin-bottom: 0;
    justify-content: space-between;
  }
}

.products__cart {
  display: flex;
  flex-direction: column;
  width: 280px;

  padding-top: 160px;
  padding-bottom: 40px;

  background: #ffb8ca;
  border-radius: 24px;
  position: relative;
  margin-bottom: 140px;

  @media screen and (min-width: 768px) {
    width: 224px;

    margin-top: 0;
    margin-bottom: 0;
    padding-top: 118px;

    @media screen and (min-width: 1280px) {
      width: 394px;

      margin-top: 0;
      margin-bottom: 0;
      padding-top: 165px;
      padding-bottom: 60px;
    }
  }

  &.coffee {
    background-color: $orenge;
    margin-bottom: 0;
    margin-top: 160px;

    @media screen and (min-width: 768px) {
      width: 224px;

      margin-top: 0;
      margin-bottom: 0;
    }

    @media screen and (min-width: 1280px) {
      width: 395px;

      margin-top: 0;
      margin-bottom: 0;
    }
  }

  &.milkshakes {
    background-color: $green;
    margin-bottom: 0;
    margin-top: 160px;

    @media screen and (min-width: 768px) {
      width: 224px;

      margin-top: 0;
      margin-bottom: 0;

      @media screen and (min-width: 1280px) {
        width: 395px;

        margin-top: 0;
        margin-bottom: 0;
      }
    }
  }
}

.products__name {
  font-family: 'Titan One';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.15;

  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  display: block;

  margin-bottom: 32px;

  color: $white-color;

  @media screen and (min-width: 1280px) {
    font-size: 30px;
    line-height: 1.13;
  }
}

.products__name::after {
  display: block;
  content: '';
  width: 26px;
  height: 6px;
  outline: none;
  background-image: url('../images/products-group(png)-1x.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin: 0 auto;
  margin-top: 32px;

  @media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
    background: url('../images/products-group(png)-2x.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
}

.products__description {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.5;

  text-align: center;
  letter-spacing: 0.04em;

  color: $white-color;

  margin: 0 auto;
  margin-bottom: 32px;
  width: 200px;

  @media screen and (min-width: 768px) {
    width: 160px;

    line-height: 1.8;
  }

  @media screen and (min-width: 1280px) {
    font-size: 16px;
    line-height: 1.75;
    margin-bottom: 60px;
    width: 241px;
  }
}

.products__button {
  padding: 0;
  margin: 0 auto;
  width: 40px;
  height: 40px;
  border: none;

  border-color: $white-color;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.products__icon {
  fill: $red-txt-color;
}