<section class="about" id="about">
  <div class="about__conteiner">
    <p class="about__lable">tradition and love</p>
    <h2 class="about__title">how it’s made?</h2>

    <div class="about__bloc">
      <picture>
        <source
          srcset="
            ./images/cow(png)-desktop-1x.png 1x,
            ./images/cow(png)-desktop-2x.png 2x
          "
          media="(min-width:1280px)"
        />

        <source
          srcset="
            ./images/cow(png)-tablet-1x.png 1x,
            ./images/cow(png)-tablet-2x.png 2x
          "
          media="(min-width:768px)"
        />
        <source
          srcset="
            ./images/cow(png)-mobile-1x.png 1x,
            ./images/cow(png)-mobile-2x.png 2x
          "
          media="(min-width:320px)"
        />
        <img
          src="./images/cow(png)-tablet-1x.png"
          alt="Коровка с молоком"
          class="about__img"
        />
      </picture>
      <div class="about__wrap">
        <p class="about__description--color">
          Fusce ut velit laoreet, tempus arcu eu, molestie tortor. Nam vel justo
          cursus, faucibus lorem eget, egestas eros. Maecenas eleifend erat at
          justo fringilla.
        </p>
        <p class="about__description--size">
          Curabitur lacinia enim at ex blandit, vel pellentesque odio elementum.
          Mauris rhoncus orci in imperdiet placerat. Vestibulum euismod nisl
          suscipit ligula volutpat, a feugiat urna maximus. Cras massa nibh,
          tincidunt.
          <br />
          <br />
          Aliquam erat volutpat. Aenean accumsan.
        </p>
        <!-- <p class="about__description">
          Aliquam erat volutpat. Aenean accumsan.
        </p> -->
        <button type="button" class="about__btn">
          Read more
          <svg width="8" height="16" class="about__svg">
            <use href="./images/symbol-defs.svg#icon-simbol-2"></use>
          </svg>
        </button>
      </div>
    </div>
  </div>

  <!-- <img src="./images/milk-background(png)-mobile-1x.png" alt="" /> -->
</section>
