<section class="advantages">
  <h2 class="advantages__name">Advantages</h2>
  <div class="advantages__container">
    <ul class="advantages__list">
      <li class="advantages__item">
        <div class="advantages__wrapper advantages__wrapper--1">
          <h3 class="advantages__title">721</h3>
          <p class="advantage__descr">
            Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
          </p>
        </div>
      </li>
      <li class="advantages__item">
        <div class="advantages__wrapper advantages__wrapper--2">
          <h3 class="advantages__title">16kg</h3>
          <p class="advantage__descr">
            Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
          </p>
        </div>
      </li>
      <li class="advantages__item">
        <div class="advantages__wrapper advantages__wrapper--3">
          <h3 class="advantages__title">84</h3>
          <p class="advantage__descr">
            Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
          </p>
        </div>
      </li>
    </ul>
  </div>
</section>
