<section class="contacts" id="contact">
  <div class="contacts__container">
    <h2 class="contacts__title">Этот заголовок будет скрыт</h2>
    <ul class="contacts__list">
      <li class="contacts__item">
        <span class="parts__decor parts__decor--orange">cafe</span>

        <ul class="card__parts">
          <li class="card__part">
            <h3 class="parts__title parts__title--city">Chicago</h3>
            <p class="parts__text">
              Fusce ut velit laoreet, tempus arcu molestie vulputate
            </p>
          </li>

          <li class="card__part">
            <h3 class="parts__title">Monday - Friday</h3>
            <p class="parts__time">06:00 AM - 10:00 PM</p>
            <h3 class="parts__title">Saturday - Sunday</h3>
            <p class="parts__time">08:00 AM - 16:00 PM</p>
          </li>

          <li class="card__part">
            <a class="parts__phone" href="tel:+61(0)383766284"
              >+61(0) 383 766 284</a
            >
            <a class="parst__mail" href="mailto:noreply@envato.com"
              >noreply@envato.com</a
            >
          </li>
        </ul>
      </li>

      <li class="contacts__item">
        <span class="parts__decor parts__decor--green">food truck</span>

        <ul class="card__parts">
          <li class="card__part">
            <h3 class="parts__title parts__title--city">Los Angeles</h3>
            <p class="parts__text">
              Fusce ut velit laoreet, tempus arcu molestie vulputate
            </p>
          </li>

          <li class="card__part">
            <h3 class="parts__title">Monday - Friday</h3>
            <p class="parts__time">06:00 AM - 10:00 PM</p>
            <h3 class="parts__title">Saturday - Sunday</h3>
            <p class="parts__time">08:00 AM - 16:00 PM</p>
          </li>

          <li class="card__part">
            <a class="parts__phone" href="tel:+61(0)383766284"
              >+61(0) 383 766 284</a
            >
            <a class="parst__mail" href="mailto:noreply@envato.com"
              >noreply@envato.com</a
            >
          </li>
        </ul>
      </li>

      <li class="contacts__item">
        <span class="parts__decor parts__decor--orange">cafe</span>

        <ul class="card__parts">
          <li class="card__part">
            <h3 class="parts__title parts__title--city">New York</h3>
            <p class="parts__text">
              Fusce ut velit laoreet, tempus arcu molestie vulputate
            </p>
          </li>

          <li class="card__part">
            <h3 class="parts__title">Monday - Friday</h3>
            <p class="parts__time">06:00 AM - 10:00 PM</p>
            <h3 class="parts__title">Saturday - Sunday</h3>
            <p class="parts__time">08:00 AM - 16:00 PM</p>
          </li>

          <li class="card__part">
            <a class="parts__phone" href="tel:+61(0)383766284"
              >+61(0) 383 766 284</a
            >
            <a class="parst__mail" href="mailto:noreply@envato.com"
              >noreply@envato.com</a
            >
          </li>
        </ul>
      </li>
    </ul>
    <div class="contacts__buttons">
      <button class="contacts__button contacts__button--red" type="button">
        <span class="button__locations">Our locations</span>
        <svg class="icon-send icon-send-white" width="8" height="16">
          <use href="./images/symbol-defs.svg#icon-simbol-2"></use>
        </svg>
      </button>
      <button class="contacts__button contacts__button--white" type="button">
        <span class="button__title">Franchise</span>
        <svg class="icon-send icon-send-red" width="8" height="16">
          <use href="./images/symbol-defs.svg#icon-simbol-2"></use>
        </svg>
      </button>
    </div>
  </div>
</section>
