<header class="header">
  <div class="header__wrapper-container container">
    <div class="header__nav">
      <img class="header__logo" src="./images/logo(png)-2x.png" alt="" />
      <button class="header__open-menu" type="button" data-menu-open>
        <svg
          class="header__burger"
          width="20"
          height="12"
          aria-label="Переключатель мобильного меню"
        >
          <use href="./images/symbol-defs.svg#icon-Burger"></use>
        </svg>
      </button>
      <ul class="header__list">
        <li class="header__items">
          <a class="header__link header__link-current" href="">Home</a>
        </li>
        <li class="header__items">
          <a class="header__link" href="#about">About us</a>
        </li>
        <li class="header__items">
          <a class="header__link" href="#about">How it’s made?</a>
        </li>
        <li class="header__items">
          <a class="header__link" href="#products">Our products</a>
        </li>
        <li class="header__items">
          <a class="header__link" href="#contact">Contact</a>
        </li>
      </ul>
      <button class="header__nav-button" type="button" data-modal-opens>
        Buy now
      </button>
    </div>
    <div>
      <img
        class="header__ellipse"
        src="./images/ellipse-mobile-1x.png"
        alt="Круг"
      />
      <img
        class="header__ice-img"
        srcset="
          ./images/icecream-header(png)-mobile-1x.png 1x,
          ./images/icecream-header(png)-mobile-2x.png 2x
        "
        src="/src/images/icecream-header(png)-desktop-2x.png"
        alt="Мороженое"
      />
    </div>
    <div class="header__wrapper-title">
      <h1 class="header__title">
        ice cream<br />made with<br />
        <span class="header__title-span">passion</span>
      </h1>
      <ul class="header__list-btn">
        <li>
          <a class="header__btn-products btn1" href="#products">Products</a>
        </li>
        <li>
          <a class="header__btn-made btn1" href="#about">How it’s made?</a>
        </li>
      </ul>
    </div>
    <div class="header__wrapper">
      <img
        class="header__slider-img"
        srcset="
          ./images/milk-battle-header(png)-tablet-1x.png 1x,
          ./images/milk-battle-header(png)-tablet-2x.png 2x
        "
        src="./images/milk-battle-header(png)-desktop-2x.png"
        alt=""
      />
      <div>
        <p class="header__text-slider">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et
        </p>
        <a class="header__right-button" href=""
          ><img
            class="png-button"
            src="./images/arrow(png)-mobile-2x.png"
            width="26"
            height="26"
            alt=""
        /></a>
      </div>
      <img
        class="girl-tablet"
        srcset="
          ./images/girl-header(png)-tablet-1x.png 1x,
          ./images/girl-header(png)-tablet-2x.png 2x
        "
        src="./images/girl-header(png)-desktop-2x.png"
        alt="Девушка"
      />
      <img
        class="group-tablet1"
        srcset="
          ./images/header-group1(png)-tablet-1x.png 1x,
          ./images/header-group1(png)-tablet-2x.png 2x
        "
        src="./images/header-group1(png)-desktop-2x.png"
        alt="Число1"
      />
      <img
        class="group-tablet2"
        srcset="
          ./images/header-group2(png)-tablet-1x.png 1x,
          ./images/header-group2(png)-tablet-2x.png 2x
        "
        src="./images/header-group2(png)-desktop-2x.png"
        alt="Число2"
      />
    </div>
  </div>
  <div class="mob-menu is-hidden" data-menu>
    <div class="mob-menu-container">
      <div class="mob-menu-container__wrapper">
        <button class="close-menu" type="button" data-menu-close>
          <svg width="14" height="14" aria-label="Закрыть мобильное меню">
            <use href="./images/symbol-defs.svg#icon-close"></use>
          </svg>
        </button>
      </div>
      <div class="mob-menu-container__wrap">
        <button class="button-menu" type="button" data-modal-opens>
          Buy now
        </button>
        <ul class="mobile-list">
          <li class="mobile-list__items">
            <a class="mobile-list__link mobile-list__link-current" href="./"
              >Home</a
            >
          </li>
          <li class="mobile-list__items">
            <a class="mobile-list__link" href="#about">About us</a>
          </li>
          <li class="mobile-list__items">
            <a class="mobile-list__link" href="#about">How it’s made?</a>
          </li>
          <li class="mobile-list__items">
            <a class="mobile-list__link" href="#products">Our products</a>
          </li>
          <li class="mobile-list__items">
            <a class="mobile-list__link" href="#contact">Contact</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</header>

<div class="mob-modal is-hidden" data-modals>
  <div class="modal">
    <button class="modal__close" type="button" data-modal-closes>
      <svg class="modal-svg" width="20" height="20">
        <use href="./images/symbol-defs.svg#icon-close"></use>
      </svg>
    </button>
    <p class="modal__title">Buy Ice Cream</p>
    <form class="modal__form">
      <div class="modal__field">
        <label for="username" class="modal__field-label">Name</label>
        <span class="modal__input-wrapp">
          <input type="text" name="name" class="modal__input" id="username" />
        </span>
      </div>
      <div class="modal__field">
        <label for="telephone" class="modal__field-label">Tel</label>
        <span class="modal__input-wrapp">
          <input type="tel" name="tel" class="modal__input" id="telephone" />
        </span>
      </div>
      <div class="modal__field">
        <label for="mail" class="modal__field-label">Email</label>
        <span class="modal__input-wrapp">
          <input type="email" name="mail" class="modal__input" id="mail" />
        </span>
      </div>
      <div class="modal__field">
        <label for="comment" class="modal__field-label">Comment</label>
        <textarea
          name="comment"
          id="comment"
          placeholder="Leave your comment"
          class="modal__comment"
        ></textarea>
      </div>
      <button type="submit" class="modal-button">Send</button>
    </form>
  </div>
</div>
