<section class="products" id="products">
  <div class="products__conteiner">
    <p class="products__title">100% natural</p>
    <h2 class="products__title accent">products</h2>

    <ul class="products__flex">
      <li class="products__cart">
        <img
          class="prducts__img"
          srcset="
            ./images/icecream-products(png)-desktop-1x.png 1x,
            ./images/icecream-products(png)-desktop-2x.png 2x
          "
          src="./images/icecream-products(png)-mobile-1x.png"
          alt="морозиво"
        />
        <h3 class="products__name">ice cream</h3>
        <p class="products__description">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et. dolore magna aliqua facilisis.
        </p>
        <button type="button" class="products__button">
          <svg class="products__icon" width="17" height="17">
            <use href="./images/symbol-defs.svg#icon-arrow-right"></use>
          </svg>
        </button>
      </li>

      <li class="products__cart coffee">
        <img
          class="prducts__img"
          srcset="
            ./images/coffee-products(png)-desktop-1x.png 1x,
            ./images/coffee-products(png)-desktop-2x.png 2x
          "
          src="./images/coffee-products(png)-mobile-1x.png"
          alt="холодна кава"
        />
        <h3 class="products__name">ice coffee</h3>
        <p class="products__description">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et. dolore magna aliqua facilisis.
        </p>
        <button type="button" class="products__button">
          <svg class="products__icon" width="17" height="17">
            <use href="./images/symbol-defs.svg#icon-arrow-right"></use>
          </svg>
        </button>
      </li>

      <li class="products__cart milkshakes">
        <img
          class="prducts__img"
          srcset="
            ./images/shakes(png)-desktop-1x.png 1x,
            ./images/shakes(png)-desktop-2x.png 2x
          "
          src="./images/shakes(png)-mobile-1x.png"
          alt="мілк-шейк"
        />
        <h3 class="products__name">milkshakes</h3>

        <p class="products__description">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et. dolore magna aliqua facilisis.
        </p>
        <button type="button" class="products__button">
          <svg class="products__icon" width="17" height="17">
            <use href="./images/symbol-defs.svg#icon-arrow-right"></use>
          </svg>
        </button>
      </li>
    </ul>
  </div>
</section>
