<section class="custumer">
  <div class="container custumer__container">
    <h2 class="custumer__title">custumer</h2>

    <div class="image-slider__slide swiper-slide">
      <div class="image-slider__image">
        <img src="./images/portrait-1(png)-1x.png" alt="" />
        <div class="image-slider__block">
          <p class="image-slider__txt">
            Nullam viverra consectetuer. Quisque cursus et, porttitor risus.
            Aliquam sem. In hendrerit nulla quam nunc, accumsan congue. Lorem
            ipsum primis in nibh vel risus.
          </p>
        </div>
        <p class="image-slider__name">Emily, Los Angeles</p>
      </div>
    </div>
    <div class="pagination">
      <span class="pagination__slide-acktive">
        <svg class="contact__icon" width="16" height="12">
          <use href="./images/symbol-defs.svg#icon-home"></use>
        </svg>
      </span>
      <span class="pagination__slide"></span>
      <span class="pagination__slide"></span>
    </div>
  </div>
</section>
